<table border="0" cellspacing="0" cellpadding="0" style="width:600px; margin:0 auto;border-top:1px solid #B1B5C3;">                    
                    <tr>
                        <td align="center" class="link" style="padding:15px 0; border-bottom:1px solid #d5d5d5;">
                            <a href="" target="_blank">
                                <img src="{{APP_URL}}images/link.png" alt="" width="24" />
                            </a>
                            <a href="" target="_blank">
                                <img src="{{APP_URL}}images/in.png" alt="linkedin" width="24" />
                            </a>
                            <a href="" target="_blank">
                                <img src="{{APP_URL}}images/insta.png" alt="instagram" width="24" />
                            </a>
                            <a href="" target="_blank">
                                <img src="{{APP_URL}}images/fb.png" alt="facebook" width="24" />
                            </a>
                            <a href="" target="_blank">
                                <img src="{{APP_URL}}images/tw.png" alt="twitter" width="24" />
                            </a>
                        </td>
                    </tr>
​
                    <tr>
                        <td>
                            <p style="padding: 0 15px;text-align: center;font-size:12px;line-height:16px;font-style:italic;">Copyright &copy; 2025 Theoria Inc. All rights reserved.</p>
                        </td>
                    </tr> 
                    <tr>
                        <td>
                            <p style="padding:0;margin:0;text-align: center;font-size:12px;line-height:16px;"><strong>Our mailing address is:</strong></p>
                            <p style="padding:0;margin:0 0 15px;text-align: center;font-size:12px;">203 East Main St. Australia, Ms 39759</p>
                        </td>
                    </tr> 
                    <tr>
                        <td>
                            <p style="padding:0;margin:0;text-align: center;font-size:12px;line-height:16px;">Want to change how you receive these emails?</p>
                            <p style="padding:0;margin:0 0 15px;text-align: center;font-size:12px;">You can <a href="" target="_blank">update your preferences</a> or <a href="%unsubscribe_url%" target="_blank">unsubscribe from this list</a>.</p>
                        </td>
                    </tr> 
                </table>
            </td>
        </tr>
    </table>
</body>
​
</html>